.DropDown {
  .DropDown-chevIcon {
    margin-left: 15px;
  }
  .DropDown-button {
    border-radius: 5px !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
