.DropDown {
  .DropDown-chevIcon {
    margin-left: 15px;
  }
  .DropDown-button {
    border-radius: 5px !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .DropDown-text {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #73767f;
  }
}
