@import '../../theme/variables.scss';

.Dropdown {
  border-radius: 8px;
  padding: 8px;
  margin: 0;

  .Dropdown-loader {
    position: relative;
    color: $colors--primary;
    padding: 10px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Dropdown-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 33px;
    padding: 4px 20px 4px 15px;
    background: $colors--light;
    border-radius: 2px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;

    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $colors--darkblue;
  }

  .Dropdown-content {
    margin: 8px;
  }
  .Dropdown-selection {
    height: 40px;
    font-size: 14px;
    font-weight: 400;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    color: $colors--darkblue;

    .Dropdown-selection-link {
      color: $colors--darkblue;
      text-decoration: none;
    }

    .Dropdown-selection-check {
      margin: 0 8px;
      width: 16px;
    }
  }
}
