.Dropdown {
  border-radius: 8px;
  padding: 8px;
  margin: 0;

  .Dropdown-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 33px;
    padding: 4px 20px 4px 15px;
    background: #f6f7fb;
    border-radius: 2px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;

    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #15224b;
  }

  .Dropdown-content {
    margin: 8px;
  }
  .Dropdown-selection {
    height: 40px;
    font-size: 14px;
    font-weight: 400;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    color: #15224b;

    .Dropdown-selection-check {
      margin: 0 8px;
      width: 16px;
    }
  }
}
