@import '../../theme/variables.scss';

.Input {
  margin-right: 10px;
  margin-bottom: 5px;

  &[invalid='true'] {
    margin-bottom: 0;
  }

  input {
    border-radius: 4px;
    border: 1px solid $color--lightgray;
    color: $color--darkgray;
  }

  input[invalid='true'] {
    border: 1px solid $color--warning;
  }

  input[isFocused='true'][invalid='false'] {
    border: 1px solid $color--darkblue;
    background-color: $color--silver;
  }

  ::-webkit-input-placeholder {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #595f76;
  }
  ::-moz-placeholder {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #595f76;
  }
  :-ms-input-placeholder {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #595f76;
  }
  :-moz-placeholder {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #595f76;
  }
}
