.Input {
  .Input-default {
    border-radius: 7px;
    border: 1px solid #e1e1e1;
  }
  .Input-selector {
    border-radius: 7px;
    border: 1px solid #e1e1e1;
  }
  .Input-textarea {
    border-radius: 7px;
    border: 1px solid #e1e1e1;
  }
}
