button[primary='true'] {
  background-color: $colors--primary;
}

button[secondary='true'] {
  background-color: $colors--secondary;
}

button[warning='true'] {
  background-color: $colors--warning;
}

button[success='true'] {
  background-color: $colors--success;
}

button[danger='true'] {
  background-color: $colors--danger;
}

button {
  flex: 1;
  min-width: 100px;
  border-radius: 4px;
  color: $colors--white;
  padding: 0 10px;
  line-height: 34px;
  height: 34px;

  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;

  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &:disabled {
    background-color: $colors--primary-10;
  }

  &[outline='true'] {
    background-color: transparent;
    color: $colors--dark;
    border: 1px solid $colors--dark;

    &:disabled {
      background-color: transparent;
      border: 1px solid $colors--primary-10;
      color: $colors--primary-10;
    }

    &[primary='true'] {
      background-color: transparent !important;
      color: $colors--dark;
      border: 1px solid $colors--dark;
    }
    &[secondary='true'] {
      background-color: transparent !important;
      color: $colors--primary;
      border: 1px solid $colors--primary;
    }
    &[warning='true'] {
      background-color: transparent !important;
      color: $colors--warning;
      border: 1px solid $colors--warning;
    }
    &[success='true'] {
      background-color: transparent !important;
      color: $colors--success;
      border: 1px solid $colors--success;
    }
    &[danger='true'] {
      background-color: transparent !important;
      color: $colors--danger;
      border: 1px solid $colors--danger;
    }
  }

  &[large='true'] {
    min-width: 240px;
    max-width: min-content;
    height: 40px;
    line-height: 40px;
    // box-shadow: 0px 4px 6px rgba(17, 45, 83, 0.2);

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;

    &.uk-width-1-1 {
      max-width: 100%;
    }
  }
}
