.Error {
  .Error-validationText {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    color: $colors--danger;
    margin-top: 7px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}
