@import '../../theme/variables.scss';

.PostHeader-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.Post-header-group {
  display: flex;
  flex-flow: row nowrap;
  padding-right: 20px;
}

.Post-header-spacer {
  width: 20px;
}

.Post-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 11px;

  .Post-header-details {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-left: 12px;
  }

  .Post-header-detailsAll {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin-right: 12px;
  }

  .Post-header-name {
    font-weight: 500;
    font-size: 14px;
    color: $color--darkblue;
  }

  .Post-header-timestamp {
    font-weight: normal;
    font-size: 12px;
    color: $color--darkgray;

    .Post-header-loader {
      margin-left: 5px;
    }
  }

  .Post-header-error {
    font-weight: normal;
    font-size: 12px;
    color: $color--warning;
  }
}
