.TopNav {
  .TopNav-topNav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    margin-right: 30px;
  }
  .TopNav {
  }
  .TopNav-navName {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4px;
    margin-right: 4px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #161d35;
  }
}
