@import '../../theme/variables.scss';

.Label {
  .Label-container {
    height: 24px !important;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5.5px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: var(--custom-font-weight);

    color: $colors--white;

    &[status='active'] {
      background-color: $colors--primary;
    }
    &[status='success'] {
      background-color: $colors--success;
    }
    &[status='warning'] {
      background-color: $colors--warning;
    }
    &[status='danger'] {
      background-color: $colors--danger;
    }
    &[status='disabled'] {
      background-color: $colors--primary-10;
      color: $colors--dark;
    }
    &[status='default'] {
      background-color: $colors--tertiary;
    }
    &[status='pending'] {
      background-color: $colors--warning;
    }
    &[status='completed'] {
      background-color: $colors--success;
    }
    &[status='declined'] {
      background-color: $colors--danger;
    }
    &[status='dispatched'] {
      background-color: $colors--tertiary;
    }
    &[status='inProgress'] {
      background-color: $colors--primary;
    }
    &[status='active'] {
      background-color: $colors--tertiary;
    }
    &[status='inactive'] {
      background-color: $colors--primary-10;
      color: $colors--dark;
    }
    &[status='approved'] {
      background-color: $colors--success;
    }

    &[small='true'] {
      box-sizing: border-box;
      height: 24px !important;
      font-weight: 600;
      font-size: 12px;
    }

    .statusColor {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-right: 5px;

      &[statusColor='active'] {
        background-color: $colors--primary;
      }
      &[statusColor='success'] {
        background-color: $colors--success;
      }
      &[statusColor='warning'] {
        background-color: $colors--warning;
      }
      &[statusColor='danger'] {
        background-color: $colors--danger;
      }
      &[statusColor='disabled'] {
        background-color: $colors--primary-10;
        color: $colors--dark;
      }
      &[statusColor='default'] {
        background-color: $colors--tertiary;
      }
    }

    &[textColor] {
      color: var(--custom-text-color) !important;
    }

    &[backgroundColor] {
      background-color: var(--custom-background-color) !important;
    }
  }
}
