@import '../../theme/variables.scss';

.TabMenu {
  ul::before {
    border-bottom: none !important;
  }
  .uk-tab {
    .uk-active {
      a {
        border-color: $colors--primary, 100% !important;
        border-bottom: 2px solid $colors--primary !important;
        color: $colors--primary;
      }
    }
  }
  .TabMenu-linkText {
    text-transform: uppercase !important;
    // color: $colors--primary;
  }
  .TabMenu-noSpace {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 1px;
    padding-left: 1px;
  }
}
