.TabMenu {
  ul::before {
    border-bottom: none !important;
  }
  .uk-tab {
    .uk-active {
      a {
        border-color: #243e93, 100% !important;
        border-bottom: 2px solid #243e93 !important;
        color: #243e93;
      }
    }
  }
  .TabMenu-linkText {
    text-transform: uppercase !important;
    // color: #243e93;
  }
  .TabMenu-noSpace {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 1px;
    padding-left: 1px;
  }
}
