.TimeOff {
  #TimeOff-modal {
    padding: 0px !important;
    .TimeOff-modalBody {
      padding: 0px !important;
      height: 100vh !important;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
