@import '../../theme/variables.scss';

.Card {
  height: 100%;
  .Card-header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: $colors--darkblue;
  }
  .Card-content {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: $colors--darkblue;
  }
  .Card-grayBorder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: $colors--white;
    border: 1px solid rgba(166, 173, 196, 0.5);
    border-radius: 8px;
  }
  .Card-grayBg {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 5px !important;
    background: $colors--light;
    border-radius: 4px;
    .Card-body {
      padding: 10px 5px !important;
      width: 100%;
    }
  }
  .Card-default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    background: $colors--white;
    border-radius: 8px;
    .Card-body {
      padding: 10px 5px !important;
    }
  }
  .Card-defaultOrders {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px !important;
    background: $colors--white;
    border-radius: 8px;
    .Card-body {
      padding: 10px 0px !important;
    }
  }
}
