.Card {
  .Card-header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #15224b;
  }
  .Card-content {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #15224b;
  }
  .Card-grayBorder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: #ffffff;
    border: 1px solid rgba(166, 173, 196, 0.5);
    border-radius: 8px;
  }
  .Card-grayBg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    background: #f6f7fb;
    border-radius: 4px;
  }
  .Card-default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    background: #ffffff;
    border-radius: 8px;
  }
}
