@import '../../theme/variables.scss';

.Icon {
  fill: $color--lightgray;

  &[hover='true'] {
    svg:hover {
      cursor: pointer;
    }

    & svg:hover {
      fill: $color--secondary;
    }
  }
}
