.Icon {
  .Icon-defaultAvatar {
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: none !important;
    margin-right: 10px !important;
  }
  .Icon-defaultSpacing {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
