@import '../../theme/variables.scss';

.Icon {
  fill: $color--lightgray;

  min-width: 24px;
  min-height: 24px;

  svg {
    min-width: 24px;
    min-height: 24px;
  }

  &[hover='true'] {
    svg:hover {
      cursor: pointer;
    }

    & svg:hover {
      fill: $color--secondary;
    }
  }

  &[slotend='true'] {
    margin-left: 5px;
  }

  &[primary='true'] {
    color: $color--primary;
  }
}
