@import './uikit-imports.scss';
@import './variables.scss';

h3 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $colors--darkblue;
}

body {
  color: $colors--darkblue;
}

label {
  font-size: 12px;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.Loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loader-color {
  color: $colors--primary;
}

p {
  margin: 0;
}

.test {
  border: 1px solid red !important;
}
