$color--primary: #243e93;
$color--secondary: #2b8af7;
$color--default: #4973f1;
$color--disabled: rgba(36, 62, 147, 0.15);

$color--warning: #ffba5e;
$color--danger: #e86172;
$color--success: #3dbc6f;

$color--nav: #161d35;
$color--darkblue: #15224b;

$color--gray: rgba(246, 247, 251, 0.3);
$color--tablegray: #f6f7fb;
$color--lightgray: #a6adc4;
$color--lightgray-thirty: rgba(166, 173, 196, 0.3);
$color--darkgray: #595f76;
$color--silver: #f8f9fc;
