$colors--primary: #243e93;
$colors--secondary: #2b8af7;
$colors--info: #4973f1;
$colors--success: #5dca91;
$colors--warning: #ffba5e;
$colors--danger: #e86172;
$colors--grayblue: #a6adc4;
$colors--darkblue: #15224b;
$colors--dark: #161d35;
$colors--medium: #595f76;
$colors--light: #f6f7fb;
$colors--silver: #f8f9fc;
$colors--white: #ffffff;

$colors--primary-50: rgba($colors--primary, 0.5);
$colors--secondary-50: rgba($colors--secondary, 0.5);
$colors--info-50: rgba($colors--info, 0.5);
$colors--success-50: rgba($colors--success, 0.5);
$colors--warning-50: rgba($colors--warning, 0.5);
$colors--danger-50: rgba($colors--danger, 0.5);
$colors--grayblue-50: rgba($colors--grayblue, 0.5);
$colors--light-50: rgba($colors--light, 0.5);
$colors--medium-50: rgba($colors--medium, 0.5);
$colors--darkblue-50: rgba($colors--darkblue, 0.5);
$colors--dark-50: rgba($colors--dark, 0.5);
$colors--silver-50: rgba($colors--silver, 0.5);
$colors--white-50: rgba($colors--white, 0.5);

$colors--primary-30: rgba($colors--primary, 0.3);
$colors--secondary-30: rgba($colors--secondary, 0.3);
$colors--info-30: rgba($colors--info, 0.3);
$colors--success-30: rgba($colors--success, 0.3);
$colors--warning-30: rgba($colors--warning, 0.3);
$colors--danger-30: rgba($colors--danger, 0.3);
$colors--grayblue-30: rgba($colors--grayblue, 0.3);
$colors--light-30: rgba($colors--light, 0.3);
$colors--medium-30: rgba($colors--medium, 0.3);
$colors--darkblue-30: rgba($colors--darkblue, 0.3);
$colors--dark-30: rgba($colors--dark, 0.3);
$colors--silver-30: rgba($colors--silver, 0.3);
$colors--white-30: rgba($colors--white, 0.3);

$colors--primary-10: rgba($colors--primary, 0.1);
$colors--secondary-10: rgba($colors--secondary, 0.1);
$colors--info-10: rgba($colors--info, 0.1);
$colors--success-10: rgba($colors--success, 0.1);
$colors--warning-10: rgba($colors--warning, 0.1);
$colors--danger-10: rgba($colors--danger, 0.1);
$colors--grayblue-10: rgba($colors--grayblue, 0.1);
$colors--light-10: rgba($colors--light, 0.1);
$colors--medium-10: rgba($colors--medium, 0.1);
$colors--darkblue-10: rgba($colors--darkblue, 0.1);
$colors--dark-10: rgba($colors--dark, 0.1);
$colors--silver-10: rgba($colors--silver, 0.1);
$colors--white-10: rgba($colors--white, 0.1);
