@import '../../theme/variables.scss';

.Divider {
  .Divider-default {
    height: 0.5px;
    border-bottom: 1px solid rgba(166, 173, 196, 0.5);
    box-sizing: border-box;

    &[secondary='true'] {
      border-bottom: 1px solid $colors--darkblue;
    }
  }
}
