.SearchBar {
  .SearchBar-formContainer {
    margin: 10px auto;

    &[fill='true'] {
      width: 100%;
    }
  }

  .SearchBar-defaultSearch {
    border: 0.5px solid #15224b;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
  }
}

::-webkit-input-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #595f76;
}
::-moz-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #595f76;
}
:-ms-input-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #595f76;
}
:-moz-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #595f76;
}
