@import '../../theme/variables.scss';

.SearchBar {
  .SearchBar-formContainer {
    width: 100%;

    &[fill='true'] {
      width: 100%;
    }
  }

  .SearchBar-default {
    border: 0.5px solid #15224b;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
  }

  .SearchBar-alternate {
    border: 0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    background-color: $color--tablegray;
  }

  .SearchBar-close {
    position: absolute;
    right: 5px;
    top: calc(50% - 10px);
  }
}

::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #595f76;
}
::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #595f76;
}
:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #595f76;
}
:-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #595f76;
}
