.uk-checkbox {
  color: $colors--dark;
  border-color: $colors--medium;
  border-radius: 4px;
  margin-top: 1px;

  &:disabled {
    background-color: transparent;
    border: 1px solid $colors--medium;
    color: $colors--medium;

    &:hover {
      border-color: $colors--medium;
    }
  }

  &:checked {
    background-color: $colors--dark;
    border-color: $colors--dark;
  }

  &:hover {
    border-color: $colors--dark;
  }
}

.uk-checkbox[primary='true'] {
  border-color: $colors--medium;

  &:checked {
    background-color: $colors--dark;
    border-color: $colors--dark;
  }

  &:hover {
    border-color: $colors--dark;
  }
}

.uk-checkbox[secondary='true'] {
  border-color: $colors--medium;

  &:checked {
    background-color: $colors--secondary;
    border-color: $colors--secondary;
  }

  &:hover {
    border-color: $colors--secondary;
  }
}
