.Status {
  .Status-successText {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #3cc13b;
    margin-top: auto;
    margin-bottom: auto;
  }
  .Status-cautionText {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #f3bb1c;
    margin-top: auto;
    margin-bottom: auto;
  }
  .Status-warningText {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #f03738;
    margin-top: auto;
    margin-bottom: auto;
  }
  .Status-defaultText {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #989aa2;
    margin-top: auto;
    margin-bottom: auto;
  }
}
