@import '../../theme/variables.scss';

#Messages {
  overflow-y: auto;
  overflow-x: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #a6adc4;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #595f76;
  }
}

.MessagesDisplay {
  height: 100%;
  display: flex;
  flex-flow: column;

  .Messages {
    flex-grow: 1;
    overflow: auto;

    .Messages-container {
      display: flex;
      flex-flow: column;
      padding: 15px 30px 0px 30px;
      box-sizing: border-box;

      width: 100%;
      max-width: calc(100vw - 505px);

      .Messages-dateLabel {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 10px 0;
      }

      .Messages-empty {
        margin-top: 30px;
        font-size: 16px;
        display: flex;
        justify-content: center;
      }

      .Post {
        margin-bottom: 41px;
      }
    }
  }
  .Input {
    flex-shrink: 0;

    border-top: 0.5px solid rgba(89, 95, 118, 0.15);
    box-shadow: 0px 1px 6px 0px rgba(21, 34, 75, 0.15);

    .Input-input {
      background-color: #fff;
      padding: 30px 30px 30px 30px;
    }

    .Input-replyingPadding {
      padding: 10px 30px 30px 30px;
    }
    .Input-attachments {
      margin: 0 0 10px 0;
    }
    .Input-replying {
      width: 100%;
      padding: 0 0 11px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      .Input.info {
        display: flex;
        flex-flow: column;
      }

      .Input-orderInfo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
      }

      .Input-orderText {
        display: flex;
        flex-flow: row nowrap;
      }

      .Input-orderIcon {
        margin-right: 10px;
      }

      .Input-orderNumber {
        font-weight: 500;
        font-size: 14px;
        color: #15224b;
      }

      .Input-orderDetails {
        font-size: 12px;
      }
    }
  }
}
