@import '../../theme/variables.scss';

#Messages {
  overflow-y: auto;
  overflow-x: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #a6adc4;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #595f76;
  }
}

.Display {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  padding: 15px 30px 0px 30px;
  margin: 0px 0 10px 0;
  box-sizing: border-box;

  width: 100%;
  max-width: calc(100vw - 500px);
  max-height: calc(100vh - 119px);

  .Display-dateLabel {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
  }

  .Post {
    margin-bottom: 41px;

    .Post-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 11px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .Post-header-details {
        display: flex;
        flex-flow: column;
        margin-left: 12px;
      }

      .Post-header-name {
        font-weight: 500;
        font-size: 14px;
        color: $color--darkblue;
      }

      .Post-header-timestamp {
        font-weight: normal;
        font-size: 12px;
        color: $color--darkgray;
      }
    }

    .Post-message {
      font-weight: normal;
      font-size: 15px;
      color: $color--darkblue;
    }

    .Post-replies {
      width: 100%;
      margin-top: 10px;

      .Post-replies-show {
        width: fit-content;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-weight: normal;
        font-size: 14px;
        color: $color--primary;

        margin-bottom: 10px;

        &:hover {
          cursor: pointer;
        }
      }
      .Post-replies-icon {
        &:hover {
          cursor: pointer;
        }
      }
      .Post-replies-wrapper {
        margin-left: 30px;
      }
      .Post-replies-content {
        margin-bottom: 5px;

        padding: 22px 15px 15px 15px;
        background: $color--tablegray;
        border-radius: 4px;

        .Post-replies-content-message {
          font-weight: normal;
          font-size: 15px;
          color: $color--darkblue;
        }
      }
    }

    .Post-reply {
      padding: 7px 15px;
      border-radius: 4px;
      background: $color--tablegray;
      color: $color--primary;
      font-weight: normal;
      font-size: 14px;
      margin-top: 10px;

      .Post-reply-action {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: fit-content;

        &:hover {
          cursor: pointer;
        }

        span {
          margin-left: 3px;
        }
      }
    }
  }
}

#Input {
  position: absolute;
  left: 0;
  right: 2px;
  bottom: 0;

  .Input-fade {
    height: 60px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .Input-input {
    background-color: #fff;
    padding: 0 30px 30px 30px;

    .Input-input-replying {
      padding: 10px 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}
