.HeadSection {
  .HeadSection-container {
    height: 15vh;
    width: 100%;
    background: #f8f9fc;
    position: relative;
  }
  .HeadSection-content {
    position: absolute;
    height: fit-content;
    margin-top: auto;
    margin-bottom: 4px;
    margin-left: 5px;
  }
  .HeadSection-header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #15224b;
    margin: 5px;
    margin-bottom: 0px;
  }
  .HeadSection-subHeader {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #15224b;
    margin: 5px;
    margin-top: 0px;
  }
}
