.HeadSection {
  .HeadSection-container {
    height: 156px;
    width: 100%;
    background: #f8f9fc;
  }
  .HeadSection-content {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: 5px;
  }
}
