@import '../../theme/variables.scss';

.OrderStatus {
  .OrderStatus-headerText {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $colors--darkest;
    margin: 0px 4px 8px 4px;
  }
  .OrderStatus-cardSection {
    // height: 550px;
    height: 100%;
  }
  .OrderStatus-cardContainer {
    width: 99%;
  }
  .OrderStatus-timelineSection {
    margin: 1px 20px;
  }
  .OrderStatus-timelineHeader {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $colors--dark;
    margin: 22px 0px 8px !important;
  }
  .OrderStatus-timelineContent {
    margin: 3px 0px 22px;
    padding: 3px 0px;
  }
  .OrderStatus-timelineContentText {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $colors--dark;
    margin: 3px 0px;
    &.grayed {
      color: $colors--grayblue;
    }
  }
  .OrderStatus-documents {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 22px;
    min-height: 32px;
    &.grayed {
      color: $colors--grayblue;
    }
  }
  .OrderStatus-file {
    margin: 0px 3px;
  }
  .OrderStatus-filesize {
    color: #a5adc4;
  }
  //   Styles for the status minicard
  .OrderStatus-statusCard {
    width: 100%;
    min-height: 100px;
    margin: 0px;
    padding: 10px 0px;
    position: relative;
    &.active {
      background: $colors--light;
    }
    .OrderStatus-cardLine {
      position: absolute;
      left: 1.8em;
      top: 1.5em;
      height: 90%;
      overflow: hidden;
      div {
        font-size: 1.1em;
        height: 3px;
        margin: 2px 0;
      }
    }
  }
  .OrderStatus-locationIcon {
    margin: 0px 8px 0px 1em;
  }
  .OrderStatus-cardHeader {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $colors--dark;
    margin: 3px 0px;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .OrderStatus-cardText {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: $colors--medium;
    margin: 3px 0px;
  }
  .OrderStatus-label {
    margin-top: 10px;
  }
  .OrderStatus-chevron {
    margin: 3px 3px 3px auto;
  }
}
