@import '../../theme/variables.scss';

.Table {
  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 4px solid rgba(255, 255, 255, 0);
    background-clip: content-box;
    background-color: #a0a0a0;
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
  }

  .Table-container {
    position: relative;
  }
  .Table-outer {
    border-radius: 8px;
  }

  .Table-inner {
    border: 4px solid $color--tablegray;
    border-radius: 8px;
    padding: 0;
    background-color: $color--tablegray;
  }

  .Table-headerRow {
    width: 100%;
    .Table-headerRow-headerCell {
      color: $color--darkblue;
      font-weight: 600;
      font-size: 15px;
      // position: relative;
    }
  }

  .Table-row {
    border: 2px solid $color--tablegray;
    border-radius: 8px;
    background-color: #fff;
    color: $color--darkblue;

    a {
      color: $color--secondary;
      text-decoration: underline;
    }

    .Table-row-orderNumber {
      font-weight: 600;
    }
    .Table-row-orderDate {
      font-size: 12px;
    }
    .Table-row-filename {
      display: flex;
      flex-flow: row nowrap;
      // justify-content: flex-end;
      align-items: center;
      :first-child {
        margin-right: 5px;
        padding-bottom: 3px;
      }
    }
    .Table-row-actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .Table-subSection {
    padding: 0 10px;
  }

  .Table-checkbox {
    margin-right: 7px;
  }

  .Table-deleteAll {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 16px;
    padding-bottom: 4px;
  }
}

// Set height of Table-inner to enable scrolling
.uk-table-scrollable {
  display: flex;
  position: relative;
  flex-flow: column;
  height: 100%;
  width: 100%;

  thead {
    flex: 0 1 auto;
    display: block;
    // padding-right: 15px;

    tr {
      width: 100%;
      display: table;
      table-layout: fixed;
    }
  }

  tbody {
    position: relative;
    top: 0;
    flex: 1 1 auto;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;

    tr {
      width: 100%;
      display: table;
      table-layout: fixed;
    }
  }
}

.alignRight {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
