@import '../../theme/variables.scss';

.ContactList {
  .ContactList-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;

    .ContactList-group-icon {
      width: 24px;
      height: 24px;
      padding-bottom: 3px;

      &:hover {
        cursor: pointer;
      }
    }

    .ContactList-group-text {
      // border: 1px solid pink;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
