@import '../../theme/variables.scss';

.ContactList {
  a {
    text-decoration: none;
  }

  .ContactList-allMessages {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;

    &:hover {
      cursor: pointer;
    }

    .ContactList-allMessages-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      padding-bottom: 1px;
    }

    .ContactList-allMessages-text {
      font-weight: 500;
      font-size: 14px;
      color: $color--darkblue;
    }
  }

  .ContactList-group {
    .ContactList-group-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      .ContactList-group-icon {
        width: 24px;
        height: 24px;
        padding-bottom: 3px;

        &:hover {
          cursor: pointer;
        }
      }

      .ContactList-group-text {
        font-weight: 500;
        font-size: 14px;
      }
      .ContactList-group-icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .ContactList-subgroup {
    margin-bottom: 30px;

    .ContactList-subgroup-container {
      padding-left: 24px;

      .ContactList-subgroup-text {
        font-size: 12px;
        font-weight: 500;
      }

      .ContactList-contact {
        display: flex;
        align-items: center;
        height: 34px;

        &:hover {
          cursor: pointer;
        }

        .ContactList-contact-picture {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          min-width: 24px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: $color--primary;
          margin-right: 8px;

          img {
            min-width: 24px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
          }
        }

        .ContactList-contact-name {
          font-size: 14px;
          font-weight: 400;
          color: $color--darkgray;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
