@import 'https://cdn.quilljs.com/1.3.6/quill.snow.css';

.RichText {
  .RichText-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    background: $colors--white;
    border: 1px solid $colors--medium;
    border-radius: 5px;
  }
  .RichText-container[isFocused='true'] {
    background-color: red;
  }
  #editor {
    max-height: 200px !important;
  }
  .RichText-editor {
    border: none;
    min-height: 56px;
    width: 100%;
    font-size: 1rem;
    max-height: 200px !important;
    overflow: auto;
    .ql-editor {
      max-height: 200px !important;
      * {
        color: darkgray a {
          color: blue, strong, em, s {
            color: blue !important;
          }
        }
      }
      &.ql-blank {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        display: flex;
        align-items: flex-end;
        color: $colors--grayblue;
        &::before {
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 22px;
          display: flex;
          align-items: flex-end;
          color: $colors--grayblue;
          font-style: normal;
        }
      }
    }
  }

  .RichText-toolbar {
    position: relative;
    padding: 10px 0;
    width: 100%;
    border: none !important;
    border-radius: 0 0 5px 5px;
    background: #f8f9fc;
    border-top: 1px solid lightgray !important;
    button {
      padding: 0 !important;
      margin: 0 10px 0 0;
      &:disabled {
        cursor: default;
      }
      &:last-of-type {
        margin: 0;
      }
      &:first-of-type {
        margin-left: 10px;
      }
      svg {
        transform: scale(1.2);
      }
    }
    .ql-active {
      svg {
        path {
          fill: blue !important;
        }
      }
    }
    .aligned-right {
      position: absolute;
      right: 0;
      margin-right: 10px;
    }
  }
  .RichText-textareaActive {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: $colors--white;
    border: 0.5px solid #15224b;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: $colors--dark;
  }
  .RichText-textareaInactive {
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: $colors--dark;
  }
}

// Place Holder Styles
::-webkit-richtext-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: $colors--medium;
}
::-moz-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: $colors--medium;
}
:-ms-input-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: $colors--medium;
}
:-moz-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: $colors--medium;
}
