@import '../../theme/variables.scss';

.Post-replies {
  width: 100%;
  // margin-top: 10px;

  .Post-replies-show {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    color: $colors--primary;

    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
    }
  }
  .Post-replies-icon {
    &:hover {
      cursor: pointer;
    }
  }
  .Post-replies-wrapper {
    margin-left: 30px;
  }
  .Post-replies-content {
    margin-bottom: 5px;

    padding: 22px 15px 15px 15px;
    background: $colors--light;
    border-radius: 4px;

    .Post-replies-content-message {
      font-weight: normal;
      font-size: 15px;
      color: $colors--darkblue;
    }
  }
}

.Post-reply {
  padding: 7px 15px;
  border-radius: 4px;
  background: $colors--light;
  color: $colors--primary;
  font-weight: normal;
  font-size: 14px;
  margin-top: 10px;

  .Post-reply-action {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: fit-content;

    span {
      margin-left: 3px;
    }
  }
}
