@import '../../theme/variables.scss';

.Nav {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 256px;
  height: 100vh;
  background: $color--nav;
  // transition: width 0.5s;

  font-size: 15px;
  font-family: 'Poppins';
  color: #fff;

  a {
    text-decoration: none;
    color: white;
  }
}

.Nav-closed {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 64px;
  height: 100vh;
  background: $color--nav;
  transition: width 0.3s;

  span {
    display: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.collapse {
  margin-top: 10px;
  margin-bottom: 10px;
}

.line {
  margin: 10px 15px;
  border-bottom: 1px solid $color--gray;
}

.linefull {
  margin: 10px 0;
  border-bottom: 1px solid $color--gray;
}

.Nav-footer {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  bottom: 18px;
  left: 20px;
  right: 20px;

  .Nav-footer-text {
    margin-left: 10px;
    font-size: 14px;
    line-height: 16px;
  }

  .Nav-footer-logo {
    border-radius: 100%;
    background-color: #fff;
    width: 32px;
    height: 32px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    img {
      width: 90%;
      height: auto;
    }
  }
}
