@import '../../theme/variables.scss';

.Nav {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 208px;
  height: 100vh;
  background: $color--nav;
  // transition: width 0.5s;

  font-size: 15px;
  font-family: 'Poppins';
  color: #fff;

  a {
    text-decoration: none;
    color: white;
  }

  .collapse {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    font-size: 15px;
    color: #fff;

    max-width: 100%;
    height: 56px;
    border-bottom: 1px solid $color--gray;

    margin-bottom: 19px;
    padding-left: 24px;

    span {
      margin-left: 5px;
    }

    span:hover {
      cursor: pointer;
    }
  }

  .line {
    margin: 10px 15px;
    border-bottom: 1px solid $color--gray;
  }
}

.Nav-closed {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 64px;
  height: 100vh;
  background: $color--nav;
  transition: width 0.75s;

  span {
    display: none;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .collapse {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #fff;

    padding-left: 24px;

    max-width: 100%;
    height: 56px;
    border-bottom: 1px solid $color--gray;

    margin-bottom: 19px;
  }

  .line {
    margin: 10px 15px;
    border-bottom: 1px solid $color--gray;
  }
}
